@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}


@layer components {
  .btn-base {
    @apply m-2 px-2 py-1.5 rounded-md;
  }  
  .btn-default {
    @apply bg-primary text-white rounded-sm;
  }

  .btn-outlined {
    @apply border border-2 border-secondary shadow-none rounded-lg text-secondary;
  }

  .btn-text {
    @apply shadow-none text-black;
  }

  .input-base {
    @apply m-2 h-10 py-4 px-3 border-2 border-secondary focus:outline-primary text-black rounded-md shadow-md    
  }

  .input-field {
    @apply box-border
  }
}
